body {
  font-family: sans-serif;
  margin: 0;
}

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
	align-items: center;
  flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background: #ee2f06;
}

.wrapper {
  position: relative;
  overflow-x: hidden;
}

.menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 30%;
  height: 100vh;
  align-items: flex-start;
  background-color: #e67e22;
  color: #f3f3f3;
  transition: 0.5s;
  transform: translateX(-100%);
  z-index: 99;
}

.menu-active {
  transform: translateX(0%);
}

.menu-list {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
  flex-direction: column;
}

.menu-button {
  width: 50px;
  height: 50px;
  background-color: #e67e22;
  position: absolute;
  right: -55px;
  top: 5px;
  border-radius: 50%;
  border-color: transparent;
}

.content {
  z-index: 0;
  transition: 0.5s;
}

.content-active {
  transform: translateX(30%);
}

.menu-button span,
.menu-button span::after,
.menu-button span::before {
  background-color: #ecf0f1;
  position: absolute;
  width: 20px;
  height: 2px;
  top: 50%;
  left: 50%;
  margin-top: -1px;
  margin-left: -10px;
}

.menu-button span::after {
  content: '';
  transform: translateY(-5px);
  display: block;
  transition: 0.2s;
}

.menu-button span::before {
  content: '';
  transform: translateY(5px);
  display: block;
  transition: 0.2s;
}

.menu-button-active span {
  height: 0;
}

.menu-button-active span::after {
  transform: rotate(45deg);
}

.menu-button-active span::before {
  transform: rotate(-45deg);
}

.menu-button:hover {
  cursor: pointer;
  background-color: #e67e47;
}

.menu label {
  color: #fff;
  margin-left: 50px;
}

.menu-element {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-element span {
  cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.btn {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 10%;
  left: 60%;
}

.btn span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 28px;
}

.btni {
  justify-content: center;
  position: absolute;
  right: 10%;
  left: 56%;
}

input {
  color: #fff;
}

.numbers {
  width: 30px;
  height: 20px;
  border-color: transparent;
  background-color: #eb2f06;
  border-radius: 15%;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ee2f06;

}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #e67e22;
}

.navigation {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
}

.countdown {
	display: flex;
	justify-content: center;
	align-items: center;
  position: relative;
}

.time-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: sans-serif;
	padding: 0 30px;
	border-right: 1px solid #fff;
	user-select: none;
  z-index: 100;
}

.time-section:last-child {
	border: none;
}

.count {
	font-size: 10em;
}

.tmr-btns {
  margin-top: 20vh;
}

.tmr-btns ul {
  display: flex;
  flex-direction: row;
  position: relative;
  list-style-type: none;
  background-color: transparent;
}

.tmr-btn {
  appearance: none;
  border: 0;
  border-radius: 5px;
  background-color: #e67e22;
  color: #fff;
  padding: 8px 16px;
  font-size: 16px;
}

.tmr-btn:hover {
  cursor: pointer;
  background-color: #e67e47;
}

.tmr-btns ul li {
  margin-left: 10px;
}

.invis-input {
  visibility: hidden;
}

input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.check {
	cursor: pointer;
	text-indent: -9999px;
	width: 40px;
	height: 20px;
	background: grey;
	display: block;
	border-radius: 10%;
	position: relative;
  margin-bottom: 20px;
}

.check:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	background: #fff;
	border-radius: 10%;
	transition: 0.3s;
}

.noti:checked + .check {
	background: #bada55;
}

.noti:checked + .check:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.check:active:after {
	width: 20px;
}
.menu-button label:hover {
  cursor: pointer;
}
